{% extends 'base.html' %}
{% block content %}

        <div class="container">

            <form method="post" class="form-signin" action="/login/">{% csrf_token %}
                <h4 class="form-signin-heading">Please sign in</h4>
                <input name="username" type="text" class="form-control" placeholder="Email address" autofocus>
                <input name="password" type="password" class="form-control" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

        </div> <!-- /container -->

{% endblock %}


