[submodule "Symfony3"]
	path = Symfony3
	url = https://github.com/Grafikart/BlogMVC-Symfony3.git
	branch = master
[submodule "Phoenix"]
	path = Phoenix
	url = https://github.com/Grafikart/BlogMVC-Phoenix.git
	branch = master
[submodule "Symfony2"]
	path = Symfony2
	url = https://github.com/Alex-D/BlogMVC-Symfony2
	branch = master
[submodule "CakePHP2"]
	path = CakePHP2
	url = https://github.com/TahiriAbdou/BlogMVC-CakePHP2
	branch = master
[submodule "PlayFramework2"]
	path = PlayFramework2
	url = https://github.com/Aphax/BlogMVC-PlayFramework2.git
	branch = master
[submodule "ZendFramework2"]
	path = ZendFramework2
	url = https://github.com/Devitek/BlogMVC-ZendFramework2.git
	branch = master
[submodule "ASP.NET MVC"]
	path = ASP.NET MVC
	url = https://github.com/zyhou/BlogMVC-ASPNETCore
[submodule "CodeIgniter2"]
	path = CodeIgniter2
	url = https://github.com/Aphax/BlogMVC-CodeIgniter2.git
[submodule "Laravel"]
	path = Laravel
	url = https://github.com/Grafikart/BlogMVC-Laravel.git
