@model BlogMvc.Web.Models.Comment
<div class="row">
    <div class="col-md-2">
        <img src="http://lorempicsum.com/futurama/100/100/4" width="100%">
    </div>
    <div class="col-md-10">
        <p><strong>@Model.Username</strong> @Html.TimeAgo(@Model.Created)</p>
        <p>@Model.Content</p>
    </div>
</div>

