{% extends '::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
	<form action="{{ path('login_check') }}" method="post" class="form-signin">
	    <h4 class="form-signin-heading">Please sign in</h4>

		{% if error %}
		    <div class="alert alert-danger">{{ error.message }}</div>
		{% endif %}

	    <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email address" autofocus>

	    <input type="password" name="_password" class="form-control" placeholder="Password">

	    <input type="hidden" name="_target_path" value="/admin" />
	    
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
{% endblock %}