{% extends "blog/layout.html" %}
{% load markup %}
{% block content %}
<div class="page-header">
  {% if header %}
    <h1>{{header}}</h1>
  {% endif %}
  {% if subheader %}
    <p class="lead">{{subheader}}</p>
  {% endif %}
</div>
{% if posts %}
  {% for post in posts %}
      <article>
         <h2><a href="{% url "post_details" post.slug %}">{{ post.title}}</a></h2>
         <p>{{ post.content|markdown|truncatewords_html:50 }}</p>
         <p class="text-right"><a href="{% url "post_details" post.slug %}" class="btn btn-primary">Read more...</a>
      </article>
      <hr>
  {% endfor %}
{% else %}
  <h2>There are no post</h2>
{% endif %}
 
{% if is_paginated %}
    <ul class="pagination">
       {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">« </a></li>
       {% endif %}
       {% if page_obj.paginator.page_range %}
            {% for num in page_obj.paginator.page_range %}
                {% ifequal num page_obj.number %}
                    <li><span>{{ num }}</span></li>
                {% else %}
                    <li><a href="?page={{num}}">{{ num }}</a></li>
                {% endifequal %}
            {% endfor %}
          </li>
       {% endif %}
       {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"> »</a></li>
       {% endif %}
    </ul>
{% endif %}
{% endblock %}