body {
    font-family: 'PT Sans', sans-serif;
}
a {
    color: #01bB2C;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:hover {
    color: #21DB4C;
    text-decoration: none;
    border-bottom-style: dotted;
}
.hidden, .js-hidden, .no-js-hidden {
    display: none;
}

.content-block {
    padding: 10px;
    background-color: #D9FFE6;
}

blockquote {
    padding: 5px 10px;
    border-left: 3px solid black;
}

table {
    width: 100%;
}
td {
    padding: 3px;
}
table.colored .even {
    background-color: #fff;
}
table.colored .odd {
    background-color: rgba(255, 255, 255, 0.5);
}
.notice-wrap {
    padding: 4px 10px;
    text-align: center;
    margin: 40px 0 20px;
}
.notice {
    background-color: #fff;
    padding: 5px;
}
.notice:before {
    content: "*";
    color: #f00;
}

.flash-messages {
    margin: 0 20px 10px;
}
.flash-message {
    background: #fff;
    padding: 5px 10px;
    margin-top: 10px;
}
.flash-message .close-button {
    float: right;
    cursor: pointer;
}

/* Header */

.header {
    background-color: #000;
}
.menu {
    max-width: 800px;
    margin: 0 auto;
    font-size: 150%;
    overflow: hidden;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    padding: 10px;
    float: left;
}
.menu ul.right-menu {
    float: right;
}
.menu ul.left-menu {
    float: left;
}
.menu li a {
    display: block;
    border-bottom-width: 0;
}
.menu li ul {
    display: none;
}
.menu li:hover ul {
    display: block;
    position: absolute;
    margin-left: -10px;
}
.menu ul ul li {
    display: block;
    float: none;
    background-color: #000;
}

.breadcrumbs {
    padding: 10px;
}

/* Content */
.page-wrap {
    max-width: 800px;
    margin: 0 auto;
}
.page-content {
    margin-top: 0px;
    margin-bottom: 100px;
}
.page-content h1 {
    margin: 25px 0 10px;
}
.page-content h2 {
    margin: 20px 0 5px;
}
.page-content h3 {
    margin: 20px 0 5px;
}
/* Preventing h1-h6 top margin */
.page-content > :first-child, .post-content > :first-child {
    margin-top: 0;
}

.page-content.form {
    max-width: 280px;
    margin: 100px auto 0;
    border: 5px solid #b9dFF6;
}
.page-content.form label {
    display: block;
    display: inline-block;
    width: 75px;
}
div.form-row {
    clear: both;
    overflow: hidden;
    margin-top: 5px;
}

/* Login page */

.page-content.form.login .submit-row {
    text-align: center;
}
.page-content.form.login .submit-row input {
    text-align: center;
    padding: 0 25px
}

/* Status page */
.application-statistics, .service-status {
    
}

/* Post page */
.post-content {
    margin-top: 20px;
    margin-bottom: -15px;
}