{% extends 'views/post/index.twig' %}
{% block feed_page_header %}
    <div class="page-header">
        <h1>
            {{ App.t.t('heading.userPosts', {'{username}':user.username|trim|capitalize}) }}
            {% if this.getPageNumber() > 1 %}
                | {{ App.t.t('heading.pageNumber', [this.getPageNumber]) }}
            {% endif %}
        </h1>
        <a href="{{ this.createUrl('post/index') }}">{{ App.t.t('link.backToMainFeed') }}</a>
    </div>
{% endblock %}