{% extends 'views/layouts/admin.twig' %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="alert alert-info col-md-8 col-md-offset-2">
                {{ App.t.t('paragraph.suicideBoothWarning', {
                    '{backLink}': this.createUrl('user/profile')
                }) }}
            </div>
        </div>
        <div class="row">
            {% set form = this.beginWidget('CActiveForm') %}
                <button class="btn btn-warning" type="submit" name="confirm" value="true" role="suicide">
                    {{ App.t.t('control.deleteMyProfile') }}
                </button>
            {{ void(this.endWidget()) }}
        </div>
    </div>
{% endblock %}