<%= form_tag login_path, class: 'form-signin' do %>
  <h4 class="form-signin-heading">Please sign in</h4>
  <input name="username" type="text" class="form-control" placeholder="Username" autofocus>
  <input name="password" type="password" class="form-control" placeholder="Password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
<% end %>