{% extends 'views/layouts/main.twig' %}
{% block content %}
    <div class="page-header">
        <h1>{{ App.t.t('heading.httpError', {'{errorCode}': code}) }}</h1>
        {{ App.t.t('paragraph.httpError') }}
    </div>
{% endblock %}