<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Blog | MyDomain.com</title>

	<p:document:css href="/public/css/bootstrap.css" weight="top"/>
	<p:document:css />

	<style>
		body {
			padding-top: 50px;
		}

		.sidebar {
			margin-top: 50px;
		}
	</style>
</head>
<body>
	#{component=}

	<p:document:js href="/public/js/bootstrap.js" weight="top"/>
	<p:document:js />
</body>
</html>