{% extends 'views/layouts/main.twig' %}
{% block pageWrap %}
    {{ parent() }}
    {% block content %}
    {% endblock %}
    <div class="page-content form {{ this.action.id }}">
        <h2>{{ this.pageTitle }}</h2>
        {{ content }}
    </div>
{% endblock %}
