<head>
    {% include '/views/chunks/meta.twig' %}

    {% if this.page.title %}
        <title>{{ this.page.title }} | {{ App.name }}</title>
    {% else %}
        <title>{{ App.name }}</title>
    {% endif %}

    {% include '/views/chunks/assets.twig' %}
</head>