<div class="page-header">
  <h1>Blog</h1>
  <p class="lead">Welcome on my blog</p>
</div>

<article>
  <h2><a href="post.html">The Route of All Evil</a></h2>
  <p><small>
    Category : <a href="category.html">Nature</a>,
    by <a href="index.html">John Doe</a> on <em>Aug 24th 2013</em>
  </small></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, numquam, praesentium, porro eius facilis aperiam deleniti veritatis explicabo magni eaque dolorem voluptatum necessitatibus beatae delectus quia itaque perferendis. Necessitatibus, tempore. Fugit, sit, sapiente asperiores illo iste laboriosam maiores voluptas laborum tempore quibusdam consequatur nihil itaque earum recusandae illum deserunt sequi. Fugiat, facere provident nobis ratione id in quos ex cum...</p>
  <p class="text-right"><a href="post.html" class="btn btn-primary">Read more...</a></p>
</article>

<hr>

<article>
  <h2><a href="post.html">Good news everyone !</a></h2>
  <p><small>
    Category : <a href="category.html">Nature</a>,
    by <a href="index.html">John Doe</a> on <em>Aug 24th 2013</em>
  </small></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, numquam, praesentium, porro eius facilis aperiam deleniti veritatis explicabo magni eaque dolorem voluptatum necessitatibus beatae delectus quia itaque perferendis. Necessitatibus, tempore. Fugit, sit, sapiente asperiores illo iste laboriosam maiores voluptas laborum tempore quibusdam consequatur nihil itaque earum recusandae illum deserunt sequi. Fugiat, facere provident nobis ratione id in quos ex cum...</p>
  <p class="text-right"><a href="post.html" class="btn btn-primary">Read more...</a></p>
</article>

<hr>

<ul class="pagination">
  <li><a href="index.html">&laquo;</a></li>
  <li><a href="index.html">1</a></li>
  <li><a href="index.html">2</a></li>
  <li><a href="index.html">3</a></li>
  <li><a href="index.html">4</a></li>
  <li><a href="index.html">5</a></li>
  <li><a href="index.html">&raquo;</a></li>
</ul>