@(currentPage: Integer, maxPage: Integer, posts: java.util.List[Posts], lastFivePosts: java.util.List[Posts], allCategories: java.util.List[Categories])
@import views.html.helpers.last_posts
@import views.html.helpers.categories
@import views.html.helpers.pagination
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Blog | MyDomain.com</title>

        <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("/css/bootstrap.css")" rel="stylesheet">
        <style>
            body {
                padding-top: 50px;
            }
            .sidebar{
                margin-top: 50px;
            }
        </style>
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Index.index(1)">Blog</a>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.Admin.adminLogin()">Admin</a></li>
                    </ul>
                </div>

            </div><!-- /.container -->
        </div>



        <div class="container">

            <div class="row">
                <div class="col-md-8">


                    <div class="page-header">
                        <h1>Blog</h1>
                        <p class="lead">Welcome on my blog</p>
                    </div>

                    @for(p <- posts) {
                        <article>
                            <h2><a href="@routes.Slugs.slug(p.slug.name)">@p.name</a></h2>
                            <p><small>
                            Category : <a href="@routes.Post.postByCategory(1, p.categories.id)">@p.categories.name</a>,
                                by <a href="@routes.Post.postByAuthor(1, p.user.id)">@p.user.username</a> on <em>@p.created.monthOfYear().getAsText @p.created.dayOfMonth().getAsString @p.created.toString("YYYY")</em>
                        </small>
                            </p>
                            <p>@if(p.contents.length > 450){@p.contents.substring(0, 450).replaceAll("<[^>]*>", ""); ...}else{ @p.contents.replaceAll("<[^>]*>", ""); }</p>
                            <p class="text-right"><a href="@routes.Slugs.slug(p.slug.name)" class="btn btn-primary">Read more...</a></p>
                        </article>
                    }
                    <hr>


                    <hr>

                    <ul class="pagination">
                        @pagination(int2Integer(currentPage), int2Integer(maxPage))
                    </ul>
                </div>

                <div class="col-md-4 sidebar">

                    @categories(allCategories)
                    @last_posts(lastFivePosts)
                </div><!-- /.sidebar -->
            </div>

        </div><!-- /.container -->

    </body>
</html>
