@()
@import views.html.helpers.pagination
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Blog | MyDomain.com</title>

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 50px;
            }
            .sidebar{
                margin-top: 50px;
            }
        </style>
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.scala.html">Blog</a>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="login.scala.html">Admin</a></li>
                    </ul>
                </div>

            </div><!-- /.container -->
        </div>



        <div class="container">

            <div class="row">
                <div class="col-md-8">


                    <div class="page-header">
                        <h1>Blog</h1>
                        <p class="lead">Welcome on my blog</p>
                    </div>

                    <article>
                        <h2><a href="post.scala.html">The Route of All Evil</a></h2>
                        <p><small>
                            Category : <a href="category.html">Nature</a>,
                            by <a href="index.scala.html">John Doe</a> on <em>Aug 24th 2013</em>
                        </small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, numquam, praesentium, porro eius facilis aperiam deleniti veritatis explicabo magni eaque dolorem voluptatum necessitatibus beatae delectus quia itaque perferendis. Necessitatibus, tempore. Fugit, sit, sapiente asperiores illo iste laboriosam maiores voluptas laborum tempore quibusdam consequatur nihil itaque earum recusandae illum deserunt sequi. Fugiat, facere provident nobis ratione id in quos ex cum...</p>
                        <p class="text-right"><a href="post.scala.html" class="btn btn-primary">Read more...</a></p>
                    </article>

                    <hr>

                    <article>
                        <h2><a href="post.scala.html">Good news everyone !</a></h2>
                        <p><small>
                            Category : <a href="category.html">Nature</a>,
                            by <a href="index.scala.html">John Doe</a> on <em>Aug 24th 2013</em>
                        </small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, numquam, praesentium, porro eius facilis aperiam deleniti veritatis explicabo magni eaque dolorem voluptatum necessitatibus beatae delectus quia itaque perferendis. Necessitatibus, tempore. Fugit, sit, sapiente asperiores illo iste laboriosam maiores voluptas laborum tempore quibusdam consequatur nihil itaque earum recusandae illum deserunt sequi. Fugiat, facere provident nobis ratione id in quos ex cum...</p>
                        <p class="text-right"><a href="post.scala.html" class="btn btn-primary">Read more...</a></p>
                    </article>

                    <hr>

                    <ul class="pagination">
                        @pagination(int2Integer(0), int2Integer(5))
                    </ul>
                </div>

                <div class="col-md-4 sidebar">

                    <h4>Categories</h4>
                    <div class="list-group">
                        <a href="category.html" class="list-group-item">
                            <span class="badge">14</span>
                            Category #1
                        </a>
                        <a href="category.html" class="list-group-item">
                            <span class="badge">5</span>
                            Category #2
                        </a>
                        <a href="category.html" class="list-group-item">
                            <span class="badge">1</span>
                            Category #3
                        </a>
                        <a href="category.html" class="list-group-item">
                            <span class="badge">7</span>
                            Category #4
                        </a>
                    </div>

                    <h4>Last posts</h4>
                    <div class="list-group">
                        <a href="post.scala.html" class="list-group-item">
                            The Route of All Evil
                        </a>
                        <a href="post.scala.html" class="list-group-item">
                            Good news everyone !
                        </a>
                    </div>
                </div><!-- /.sidebar -->
            </div>

        </div><!-- /.container -->

    </body>
</html>
