{% extends 'base.html' %}
{% block content %}

        <div class="container">

            <h1>Manage posts</h1>

            <p><a href="/admin/new" class="btn btn-primary">Add a new post</a></p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Publication date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.name }}</td>
                        <td>{{ article.categorie.name }}</td>
                        <td>{{ article.created }}</td>
                        <td>
                            <a href="/admin/edit/{{ article.id }}" class="btn btn-primary">Edit</a>
                            <a href="/admin/delete/{{ article.id }}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

                <ul class="pager">
                    {% if articles.has_previous %} 
                    <li><a href="?page={{ articles.previous_page_number }}">&larr; Newer</a></li> 
                    {% endif %}
                    {% if articles.has_next %}
                    <li><a href="?page={{ articles.next_page_number }}">Older &rarr;</a></li>
                    {% endif %}
                </ul>


        </div> <!-- /container -->

{% endblock %}