{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
		{% block bodyblog %}{% endblock %}
        {% block aside %}
        	{# Sidebar with 5 minutes of cache #}
        	{{ render_esi(controller('AcmeBlogBundle:Public:sidebar', { max: 300 })) }}
        {% endblock %}
    </div>
{% endblock %}