{% extends 'base.html' %}
{% load markup %}
{% block content %}

                <div class="col-md-8">


                    <div class="page-header">
                        <h1>{{post.name}}</h1>
                        <p><small>
                            Category : <a href="/category/{{post.categorie.slug}}">{{post.categorie.name}}</a>,
                            by <a href="/author/{{post.user.id}}">{{post.user.username}}</a> on <em>{{post.created}}</em>
                        </small></p>
                    </div>

                    <article>
                       {{post.content|markdown}}
                    </article>

                    <hr>

                    <section class="comments">

                        <h3>Comment this post</h3>

                        {% if request.session.comment_error %} <div class="alert alert-danger"><strong>Oh snap !</strong> you did some errors</div> {% endif %}

                        <form method=post role="form" action="/comment/{{post.id}}/">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="email" type="email" class="form-control" placeholder="Your email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-error">
                                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Your username">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="content" class="form-control" rows="3" placeholder="Your comment"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                        {% if comments.0 %}
                            <h3>{{ comments|length }} Commentaires</h3>

                            {% for comment in comments %}

                              <div class="row">
                                <div class="col-md-2">
                                    <img src="http://lorempicsum.com/futurama/100/100/4" width="100%"> 
                                </div>
                                <div class="col-md-10">
                                    <p><strong>{{comment.username}}</strong> {{ comment.created|timeuntil }}</p>
                                    <p>{{comment.content}}</p>
                                </div>
                            </div>                      

                            {% endfor %}
                        {% else %}

                            <h3>Aucun commentaire.</h3>

                        {% endif %}

                    </section>
                </div>
{% endblock %}
