{% extends "blog/layout.html" %}
{% load markup %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
	{% if post %}
		<div class="page-header">
			<h1>{{ post.title }}</h1>
			<p><small>
				Category : <a href="{% url "post_category" post.category.slug %}">{{post.category.name}}</a>,
				by <a href="{% url "post_user" post.user.id %}">{{post.user.username}}</a> on <em> {{ post.date|date:"M d Y" }}</em>
			</small></p>
		</div>
		{{ post.content|markdown }}
		<hr />
		<section class="comments">
		<h3>Comment this post</h3>
        {% if request.session.comment_error %} <div class="alert alert-danger"><strong>Oh snap !</strong> you did some errors</div> {% endif %}
        {% if request.session.comment_success %} <div class="alert alert-success"> Your comment has been save </div> {% endif %}
		<form action="{% url "comment" post.id %}" method="post" role="form">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    {{form.errors}}
                    <input type="email" name="mail" class="form-control" placeholder="Your email" />
                    {{form.mail.error}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Your username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="3" placeholder="Your comment"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" value="Post" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <h3> {{ post.comment_set.all|length }} Commentaire(s)</h3>
        {% for comment in post.comment_set.all %}
        <div class="row">
            <div class="col-md-2">
                <img src="http://lorempicsum.com/futurama/100/100/4" width="100%">
            </div>
            <div class="col-md-10">
                <p><strong>{{comment.username}}</strong> {{comment.created|timesince}} ago</p>
                <p>{{comment.message}}</p>
            </div>
        </div>
        {% endfor %}
		</section>
	{% endif %}
{% endblock %}