{% extends 'views/layouts/main.twig' %}
{% block main_column_class %}col-md-8{% endblock %}
{% block content %}
    {% for post in posts %}
        {% include 'views/common/post_excerpt.twig' %}
    {% else %}
        {{ App.t.t('text.sorryNoPostsYet') }}
    {% endfor %}
{% endblock %}
{% block after_content_wrap %}
    <div class="col-md-4 sidebar">
        {{ void(this.widget('SidebarWidget')) }}
    </div><!-- /.sidebar -->
{% endblock %}