@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}

<hgroup class="title">
    <h1 class="error">Erreur.</h1>
    <h2 class="error">Une erreur s’est produite lors du traitement de la requête.</h2>
</hgroup>
